:root {
  --yellow: #fae100;
  --deep-blue: #24323b;
  --green: #78e08f;
  --pink: #fa4e88;
  --sky-blue: rgba(121, 206, 255, 0.9);
  --horizontal-space: 25px;
  --main-border: 1px solid white;
  --gray: rgba(0, 0, 0, 0.5);
}
